<button
  type='button'
  class='bg-blue-500 hover:bg-blue-400
         text-white font-bold py-2 px-4
         border-b-4 border-blue-700
         hover:border-blue-500 rounded'
  {{on 'click' this.toggleCamera}}
>
  {{#if this.isCameraActive}}
    Stop Camera
  {{else}}
    Start Camera
  {{/if}}
</button>

<br>
<label>Last Detected Data:</label> {{this.lastDetectedData}}
<br>

{{! BEGIN-SNIPPET main-demo-scanner.hbs }}
<JSQR::Scanner
  @cameraStream={{this.cameraStream}}
  @onData={{this.handleData}}
  @highlightColor='#3490DC'
/>
{{! END-SNIPPET }}
